.header{
    background-color: var(--colorAzul);
    padding: 20px 15px 15px;
}
.header h3{
    color: white;
    text-transform: uppercase;
    font-family: var(--tipografiaTitulos);
    margin-bottom: 10px;
}

.header__nav{
    display: none;
}